.container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  position: absolute;
  inset: 0;
  background-color: #141e30;
}

.containerLogo {
  width: 237px;
  height: 75px;
  object-fit: cover;
  position: absolute;
  left: 35px;
  top: 5px;
}

.loginContainer img {
  width: 150px;
  height: 70px;
  object-fit: cover;
}

.loginContainer {
  background-color: #ebeef1;
  width: 25rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: -3px 5px 8px rgba(255, 255, 255, 0.255);
  border-radius: 10px;
  position: relative;
}

.loginContainer p {
  position: absolute;
  top: 5px;
  left: 25px;
  font-weight: 600;
  font-size: 13px;
  color: gray;
}

.loginContainer input::placeholder {
  font-family: "Poppins", sans-serif;
}

.loginContainer input {
  font-family: "Poppins", sans-serif;
  border: 1px solid rgba(128, 128, 128, 0.214);
}

.loginContainer form,
.loginContainer img {
  margin-left: -25px;
}

.infield {
  position: relative;
  margin: 8px 0px;
  width: 18rem;
}

.loginBtn {
  width: 100%;
  margin-top: 3rem;
  padding: 10px 20px;
  border: none;
  background: #1a2a46;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 110%;
}

.loginBtn:hover {
  background: #23395dde;
}

input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
}

label {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-45%);
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #141e30, #243b55);
  transition: 0.3s;
}

input:focus ~ label {
  width: 110%;
}

.loginBtn {
  margin-top: 1.5rem;
}
