.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.sidebar {
  position: fixed;
  right: -350px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #1a2a46;
  color: white;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 10px;
  padding-top: 90px;
}

.sidebar.open {
  right: 0;
}

.closeBtn {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 10px;
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.tileBar {
  padding: 10px 13px;
  width: 240px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, background-color 0.2s ease-in;
}

.tileBar:hover {
  background-color: #23375b;
  transform: translate3d(-5px, -5px, 0);
  box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.427);
}

.sidebarContent a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.hiddenOverflow {
  overflow: hidden;
}

.backIcon {
  width: 40px;
  filter: invert();
  transform: rotate(180deg);
}
