.profileContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 60px 40px 60px 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.profileField {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.profileField label {
  font-weight: 600;
  color: rgb(78, 78, 78);
}

.profileField input,
.profileField select,
.profileField textarea {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.profileField textarea {
  resize: vertical;
  min-height: 80px;
}

.profileField .certification {
  width: 100%;
  cursor: pointer;
}

/* Slider styling */
.profileField .slider {
  width: 100%;
  margin-top: 10px;
  appearance: none;
  height: 5px;
  background: #ccc;
  border-radius: 3px;
  outline: none;
  transition: background 0.15s ease-in-out;
}

.profileField .slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #1a2a46;
  border-radius: 50%;
  cursor: pointer;
}

.profileField .slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #1a2a46;
  border-radius: 50%;
  cursor: pointer;
}

.skillHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.skillHeader h3 {
  margin: 0;
  color: #1a2a46;
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

/* Add Button styling */
.addButton {
  margin-top: 10px; /* Ensures it’s below the slider */
  padding: 10px 20px;
  border: none;
  background-color: #1a2a46;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #0e1c36;
}

/* Custom Skill Section styling */
.customSkillSection {
  margin-top: 20px;
}

.customSkillSection input[type="text"],
.customSkillSection textarea {
  margin-top: 5px;
}
