.profileContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 60px 40px 60px 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.profileContent h2 {
  margin: 0;
  color: #1a2a46;
}

.fullname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profileField {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.profileField label {
  font-weight: 600;
  margin-bottom: 5px;
  color: rgb(78, 78, 78);
}

.profileField input,
.profileField select,
.profileField textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 95%;
}

.profileField textarea {
  resize: vertical;
  min-height: 50px;
}

.profileField .certification {
  width: 200px;
  cursor: pointer;
}

.fullname input {
  width: 280px;
}

.smallField {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.smallField input,
.smallField select {
  width: 200px;
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}
