.profileContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.profileField {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profileField label {
  font-weight: bold;
  margin-bottom: 5px;
}

.profileField input,
.profileField select,
.profileField textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

.profileField textarea {
  resize: vertical;
  min-height: 50px;
}

.saveBtn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.saveBtn:hover {
  background-color: #0056b3;
}
