.mainContainer {
  --darkblue: #1a2a46;
}

.featuredName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: var(--darkblue);
}

.featuredName p {
  margin: 20px 0;
  font-weight: 600;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: var(--darkblue);
  margin: -20px 0;
}

.typeText {
  font-weight: bold;
  color: inherit;
  text-transform: capitalize;
}

.registerNavContainer {
  width: 100%;
  height: 33rem;
  display: flex;
}

.jobseekerContent,
.employerContent {
  position: relative;
  flex: 1;
}

.card {
  box-shadow: -1px 2px 3px #1a2a467e;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border-radius: 20px;
  overflow: hidden;
}

.card img {
  width: 110%;
  height: 110%;
  object-fit: cover;
  transition: width 0.6s ease, height 0.6s ease;
}

.card button {
  background: var(--darkblue);
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s, font-weight 0.3s;
}

.card button:hover {
  background: #23395dde;
  font-weight: 600;
}

.card .caption {
  position: absolute;
  top: 70px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  width: 100%;
  padding: 0 0 20px 30px;
  transition: transform 0.6s ease-in-out, border-radius 0.3s ease-in-out;
}

.caption h2,
.caption p {
  color: white;
}

.caption p {
  font-family: "Poppins", sans-serif;
}

.jobseekerContent .card:hover img,
.employerContent .card:hover img {
  width: 100%;
  height: 100%;
}

.jobseekerContent .card:hover .caption,
.employerContent .card:hover .caption {
  transform: translateX(5%);
  border-radius: 10px;
}
