.infield {
  position: relative;
  margin: 8px 0px;
  width: 18rem;
}

.loginBtn {
  margin-top: 1rem;
  width: 110%;
  padding: 10px 20px;
  border: none;
  background: #1a2a46;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.loginBtn:hover {
  background: #23395dde;
}

.infield input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: #f3f3f3;
  border: none;
  outline: none;
}

.infield label {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-45%);
  width: 0%;
  height: 2px;
  background: linear-gradient(to right, #141e30, #243b55);
  transition: 0.3s;
}

.infield input:focus ~ label {
  width: 110%;
}

.checkbox {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox input {
  margin: 2px 3px 0px 0px;
  border-color: gray;
}

.checkbox p {
  margin: 0;
  font-size: 13px;
  color: gray;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  width: 5px;
  height: 5px;
  border: 2px solid #37578f;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 7px;
}

.checkbox input[type="checkbox"]:checked {
  background-color: #37578f;
}

.checkbox input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 4px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox input[type="checkbox"]:focus {
  border-color: #37578f;
}
