:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background-color: #ffffff;
  --black-text: #151618;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  background: var(--background-color);
  color: var(--black-text);
}
